@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1>Welcome To SillyString'z Factory Outlet!</h1>

@foreach(Engineer engineer in ViewBag.Engineers)
{
  <p>@engineer.EngineerName</p>
}

@foreach(Machine machine in ViewBag.Machines)
{
  <p>@machine.MachineName</p>
}

<p>@Html.ActionLink("See all Machines", "Index", "Machines")</p>
<p>@Html.ActionLink("See all Engineers", "Index", "Engineers")</p>
